site_name: RE&CT
site_dir: site/
docs_dir: docs/

theme:
    name: null
    custom_dir: 'docs/readthedocs/'
    navigation_depth: 5
    titles_only: false

repo_url: https://github.com/atc-project/atc-react
edit_uri: blob/master/docs/

plugins:
    - awesome-pages
    - search

nav:
    - Introduction:
        - RE&CT Framework: index.md
        - Response Stages: responsestages.md
{%- if stages is not none and stages|length -%}
{{'\n'}}    - Response Actions:
{%- for stage_name, stage_actions in stages -%}
    {%- if stage_actions is not none and stage_actions|length -%}
        {{'\n'}}        - {{stage_name}}:
        {%- for action_title, action_filename in stage_actions -%} 
            {{'\n'}}            - "{{action_title}}": ./Response_Actions/{{action_filename}}.md {%- endfor -%}
    {%- endif -%}
{%- endfor %}
{%- endif -%}
{%- if playbooks is not none and playbooks|length -%}
    {{'\n'}}    - Response Playbooks:
    {%- for playbook_title, playbook_path in playbooks -%}
        {{'\n'}}        - "{{playbook_title}}": ./Response_Playbooks/{{playbook_path}}.md
    {%- endfor -%}
{%- endif -%}
